body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    overflow-y: hidden; */
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 95%;
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section,
.preview-section {
    flex: 1;
    padding: 5px;
}

.preview-section {
    width: 70%;
}

.input-section {
    width: 30%;
    height: 100vh;
    overflow-y: auto;
    border-right: 2px solid #000000;
}

input,
textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* right half */
.resume-container {
    margin-top: 20px;
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.resume-content {
    width: 100%;
}

.image-container {
    width: 25%;
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2a52be;
}

.section-title {
    background-color: #2a52be;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.resume-section {
    margin-top: 15px;
}

.head-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    border: 1px solid red !important;
}